html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  background: linear-gradient(lightgrey, darkgrey);
  background-repeat: no-repeat;
  background-size: cover;
}

.topblock {
  width: 100%;
  height: 400px;
  padding: 0px;
  border: 1px solid black;
  background-color: grey;
  display: inline-block;
}

.child{
  float:left;
  width: 32%;
  height: 97%;
  font-size: 12pt;
  font-family: sans-serif;
  border: 1px solid lightgrey;
  background-color: salmon;
  margin: 0.2%;
}

.child{
  float:left;
  width: 32%;
  height: 97%;
  font-size: 12pt;
  font-family: sans-serif;
  border: 1px solid lightgrey;
  background-color: salmon;
  margin: 0.2%
}

.child{
  float:left;
  width: 32%;
  height: 97%;
  font-size: 12pt;
  font-family: sans-serif;
  border: 1px solid lightgrey;
  background-color: salmon;
  margin: 0.2%
}

.botblock {
  height: 400px;
  width: 100%;
  padding: 0;
  border: 1px solid black;
  background-color: grey;
  display: inline-block;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

p {
  text-align: center;
}

ul {
  text-align: center;
}

li {
  display: inline-block;
}

img {
  display: block;
  margin: auto;
  vertical-align: middle;
}

.rfloat {
  float: left;
}

#h3cent {
  text-align: center;
}

.botleft{
  float:left;
  width: 32%;
  height: 97%;
  font-size: 12pt;
  font-family: sans-serif;
  border: 1px solid lightgrey;
  background-color: salmon;
  margin: 0.2%;
}

.botcent{
  float:left;
  width: 32%;
  height: 97%;
  font-size: 12pt;
  font-family: sans-serif;
  border: 1px solid lightgrey;
  background-color: salmon;
  margin: 0.2%;
}

.botright{
  float:left;
  width: 32%;
  height: 97%;
  font-size: 12pt;
  font-family: sans-serif;
  border: 1px solid lightgrey;
  background-color: salmon;
  margin: 0.2%;
}

.animal {
  width: 320px;
  height: 280px;
}

.staff {
  width: 420px;
  height: 280px;
}
